body {
  text-align: center;
  margin: 0;
  padding: 30px;
  background-color:mediumslateblue;
  color: wheat;
font-family: 'Staatliches', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
